{
  "extends": "@dkh-dev/eslint-config",
  "rules": {
    "global-require": "off",
    "max-params": [
      "error",
      4
    ],
    "max-statements": "off",
    "no-prototype-builtins": "off"
  }
}
